<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-prosegur-geolocation" 
    version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>GeolocationProsegur</name>

    <js-module name="GeolocationProsegur" src="www/GeolocationProsegur.js">
        <clobbers target="cordova.plugins.GeolocationProsegur" />
    </js-module>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GeolocationProsegur">
                <param name="android-package" value="cordova.plugin.prosegur.geolocation.GeolocationProsegur" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
			<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
			<uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<!--<application tools:replace="android:appComponentFactory" android:appComponentFactory="androidx.core.app.CoreComponentFactory" />-->
            <service android:name="cordova.plugin.prosegur.geolocation.BatteryListenerService" android:stopWithTask="false"/>
			<service android:name="cordova.plugin.prosegur.geolocation.GeoListenerService" android:foregroundServiceType="location" />
	    </config-file>
		
        <source-file src="src/android/GeolocationProsegur.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/APIService.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/ApiUtils.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/BatteryLevel.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/GeoPosittion.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/GeoListenerService.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/BatteryListenerService.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/Post.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/RetrofitClient.java" target-dir="src/cordova/plugin/prosegur/geolocation" />
        <framework custom="true" src="src/android/prosegurgeolocation.gradle" target_dir="/*" type="gradleReference" />		
    </platform>

</plugin>