<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-prosegur-geolocation" 
    version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>GeolocationProsegur</name>

    <js-module name="GeolocationProsegur" src="www/GeolocationProsegur.js">
        <clobbers target="cordova.plugins.GeolocationProsegur" />
    </js-module>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GeolocationProsegur">
                <param name="android-package" value="cordova.plugin.prosegur.geolocation.GeolocationProsegur" />
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
			<preference name="GradlePluginKotlinVersion" value="1.6.0" />
			<preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
			<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
			<uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="cordova.plugin.prosegur.geolocation.GeoListenerService"
                android:exported="false"
                android:foregroundServiceType="location" />	    
        </config-file>
		
        <source-file src="src/android/GeolocationProsegur.kt" target-dir="app/src/main/kotlin/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/APIService.kt" target-dir="app/src/main/kotlin/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/ApiUtils.kt" target-dir="app/src/main/kotlin/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/GeoPosittion.kt" target-dir="app/src/main/kotlin/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/GeoListenerService.kt" target-dir="app/src/main/kotlin/cordova/plugin/prosegur/geolocation" />
		<source-file src="src/android/RetrofitClient.kt" target-dir="app/src/main/kotlin/cordova/plugin/prosegur/geolocation" />
        <framework custom="true" src="src/android/prosegurgeolocation.gradle" target_dir="/*" type="gradleReference" />
    </platform>

    <platform name="ios">

        <!-- Hooks -->
        <hook type="before_plugin_install" src="hooks/install_prerequisites.js" />
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" />

        <config-file parent="/*" target="config.xml">
            <feature name="GeolocationProsegur">
                <param name="ios-package" value="GeolocationProsegur" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="NSLocationAlwaysAndWhenInUseUsageDescription" target="*-Info.plist">
            <string>This app requires location access to track your position and send it to the server.</string>
        </config-file>

        <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
            <string>This app requires location access to track your position and send it to the server.</string>
        </config-file>

        <config-file parent="NSLocationAlwaysUsageDescription" target="*-Info.plist">
            <string>This app requires continuous location access to track your position in the background.</string>
        </config-file>

        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>location</string>
            </array>
        </config-file>

        <source-file src="src/ios/GeolocationProsegur.swift" />
        <source-file src="src/ios/LocationService.swift" />
        <source-file src="src/ios/APIClient.swift" />
        <source-file src="src/ios/GeoPosition.swift" />

        <framework src="CoreLocation.framework" />
        <framework src="Foundation.framework" />

    </platform>

</plugin>